# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# API keys and secrets
.env

# Data
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# Temps
pids
logs
results
tmp
