h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Sans', sans-serif;
}

a,
.primary-color,
.dark .primary-color {
    color: #ce5252;
}

a:hover {
    color: #9c383a;
}

.blogitem .blogitem-hoverinfo,
.portfolioitem .portfolioitem-hoverinfo {
    background-color: #ce5252;
    color: #fff;
}

#resumenav a {
    color: #fff;
}

#resumenav a:hover {
    background-color: #9c383a;
    color: #fff;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.icon-btn:hover,
.btn-primary:hover,
.blogitem .blogitem-actions a:hover,
.portfolioitem .portfolioitem-actions a:hover {
    background-color: #9c383a !important;
}

#resumenav li.active a,
.nav-pills > .active > a {
    background-color: #9c383a !important;
    color: #fff;
}

.icon-btn,
.btn-primary {
    background-color: #ce5252;
}

.progress .bar {
    background-color: #ce5252;
    background-image: -moz-linear-gradient(top, #ce5252, #9c383a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce5252), to(#9c383a));
    background-image: -webkit-linear-gradient(top, #ce5252, #9c383a);
    background-image: -o-linear-gradient(top, #ce5252, #9c383a);
    background-image: linear-gradient(to bottom, #ce5252, #9c383a);
}

body {
    background: #ececec url("../images/textures/vichy.png") fixed repeat !important;
}

#content {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#sidebar.sbright .sidebar-nav {
    background: #ce5252;
    border-left: 5px solid #9c383a;
    border-right: none;
}

#sidebar.sbleft .sidebar-nav {
    background: #ce5252;
    border-right: 5px solid #9c383a;
    border-left: none;
}

#footer {
    color: #666;
}

.section .section-title {
    color: #fff;
    background-color: #ce5252;
    border-right: 5px solid #9c383a;
}

.section .section-title .glyphicons i:before {
    color: #fff !important;
}

.timeline-item-trigger span i:before {
    background-color: #ce5252;
    border: 6px solid #ce5252;
}

.timeline-item-trigger span:hover i:before {
    background-color: #9c383a;
    border-color: #9c383a;
}

@media (max-width: 767px) {
    .section .section-title {
        border-bottom: 5px solid #9c383a;
        border-top: 5px solid #9c383a;
    }
}
