# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,html,css,py}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{json,yml}]
indent_style = space
indent_size = 2

[*.{md,txt}]
preferred_line_length = 80
soft_wrap = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
